// Define primary color variables
$color-primary: #your-primary-color; // Replace with the color code from the image
$color-secondary: #your-secondary-color; 

ion-content {
  --background: url('https://s3.amazonaws.com/connext.public.data/wonder_1703375249182.jpg') no-repeat center center / cover;
  background: url('https://s3.amazonaws.com/connext.public.data/wonder_1703375249182.jpg') no-repeat center center / cover;






  ..graphic-container {
  position: absolute;
  top: 0; // Adjust as necessary for your design
  width: 100%;
  padding: 16px;
  text-align: center;

  h1, p {
    color: $color-secondary;
    background-color: rgba(0, 0, 0, 0.5); // Semi-transparent background for legibility
    display: inline-block;
    margin: 0 auto;
  }

  h1 {
    // Add font styles for the tagline
  }

  p {
    // Add font styles for the description
  }
}

    .central-content {
      text-align: center;
      h1 {
        color: $color-primary;
        // Add font styles for the tagline
      }
      p {
        color: $color-secondary;
        // Add font styles for the description
      }
      // Additional content styles
    }
  }


// Tab bar styles
ion-tab-bar {
  position: relative;
  background: #000000; // Replace with the color for the tab bar
  ion-tab-button {
    position: relative;
    top: -10px; // Raise the tabs slightly above the tab bar
    ion-icon {
      color: $color-primary; // Green color for icons
    }
    ion-label {
      color: $color-secondary; // White color for label text
    }
    &.tab-selected {
      ion-icon,
      ion-label {
        color: $color-primary; // Green color for selected tab
      }
    }
  }
}
// Header styles
ion-header {
  ion-toolbar {
    // Transparent background
    --background: transparent;
    color: $color-secondary; // Replace with the color for the title text
  }
}